
/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  width: 600px;
  margin: auto;
  line-height: 1.6;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}

/* header and nav were horizontally alligned */
header h1 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 1.8em;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  color: #d62828;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #f77f00;
}

main {
  background-color: #eae2b7;
}

article {
  margin-bottom: 40px;
}

article h2 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.about-container h3 {
  font-family: "Playfair Display", serif;
  margin-left: 50px
  }

.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end
}

.about-container img {
  margin-left: -20%;
  margin-top: -25%;
  max-width: 150px;
  border: 2px solid #003049;
  border-radius: 50%;
}

.about-info ul {
  list-style-type: disc;
  padding-left: 35px;
}

/* background section has been moved below About section */
.background-section h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-top: 40px;
}

ul {
  list-style-position: inside;
  text-indent: 25px;
  padding: 20px;
}

/* updated portfolio description font size */
.portfolio-item {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.portfolio-item section {
  flex: 1;
  max-width: 30%;
  text-align: center;
  margin: 0 10px;
}
 /* horizontally alligned portfolio images*/
.portfolio-item img {
  width: 100%;
  height: auto;
  border: 2px solid #003049;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 2px;
  margin-top: 0px;
  margin-bottom: 10px;
}

hr {
  border: 1px solid #003049;
  margin: 40px 0;
}